/* make a grid 
18 elements, 3 columns 
*/

/* --- CSS Reset --- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --- General --- */

html {
  width: 100%;
  height: 100%;
}

body {
  /* background-image: url(https://images.unsplash.com/photo-1547623641-d2c56c03e2a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80); */

  background-image: url(https://images.unsplash.com/photo-1604339454409-701c5278c546?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Z3JhZGllbnQlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;

  color: rgb(168, 201, 205);
  font-family: "Maven Pro", sans-serif;

  margin: 0 3em 2em 3em;
}

header {
  background-color: rgba(51, 59, 76, 0.179);
  box-shadow: rgba(104, 103, 103, 0.25) 0px 13px 27px -5px,
    rgba(196, 196, 196, 0.3) 0px 8px 16px -8px;

  margin: 2em 2em;
  padding: 3em 2em;
  border-radius: 2em;

  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2em;
}

input,
button,
textarea {
  border-radius: 0.5em;
}

form {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: auto;
  column-gap: 2%;
  row-gap: 2%;

  justify-items: stretch;
  align-items: stretch;
}

.form-submit-button,
.form-reset-button {
  padding: 1em 5em;
  margin: 1em 1em;
}

/* --- ELEMENTS --- */

.name,
.email,
.email-multiple,
.scroll-multiple,
.password,
.search,
.text-area,
.datepicker,
.timepicker,
.datetime,
.dropdown,
.phonenumber,
.checkbox,
.slider,
.minmax,
.radio,
.color,
.url,
.fileupload {
  background-color: rgba(227, 232, 242, 0.18);
  box-shadow: rgba(104, 103, 103, 0.25) 0px 13px 27px -5px,
    rgba(196, 196, 196, 0.3) 0px 8px 16px -8px;
  margin: 0.2em 0.2em;
  padding: 2em 2em;
  border-radius: 0.5em;
}

.email {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.email-multiple {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.scroll-multiple {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.password {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.search {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.text-area {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.datepicker {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.timepicker {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.datetime {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.dropdown {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.phonenumber {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.checkbox {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.slider {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.minmax {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

.radio {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

.color {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

.url {
  grid-column: 3 / 4;
  grid-row: 6 / 7;
}

.fileupload {
  grid-column: 1 / 4;
  grid-row: 7 / 8;
}

#familia {
  border-radius: 0.5em;
}

/* --- FOOTER --- */

footer {
  /* background-color: rgb(112 129 140 / 40%);
  box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px; */

  background-color: rgba(51, 59, 76, 0.179);
  box-shadow: rgb(104 103 103 / 25%) 0px -16px 27px 5px,
    rgba(196, 196, 196, 0.3) 0px 8px 16px -8px;

  /* rgb(104 103 103 / 25%) 0px -13px 27px 5px;
     */

  border-radius: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  padding: 3em 2em 2em;
  margin: 2em 2em;
}

ul {
  display: flex;
}

.logo {
  max-width: 2em;
  margin: 1em 1em;
}

/* selectors for password chech styling */
/* input:required:invalid, input:focus:invalid {
    border-color: red; 
    
}
input:required:valid {
    border-color:green;
} */
