/* 
COLOR THEME:

-- gray:

#D9D7D8
#D0CECF
#98A0A6
#6F7985
#556273
#3B4859

*/

/* --- CSS Reset --- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --- General --- */

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  /* background-image: url(https://images.unsplash.com/photo-1547623641-d2c56c03e2a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80); */

  background-image: url(https://images.unsplash.com/photo-1604339454409-701c5278c546?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Z3JhZGllbnQlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;

  color: rgb(200, 234, 237);
  font-family: "Maven Pro", sans-serif;

  margin: 0 3em 2em 3em;
}

header {
  background-color: rgba(51, 59, 76, 0.179);
  box-shadow: rgba(104, 103, 103, 0.25) 0px 13px 27px -5px,
    rgba(196, 196, 196, 0.3) 0px 8px 16px -8px;

  margin: 4em 2em 1em 2em;
  padding: 5em 2em;
  border-radius: 2em;

  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2em;
}

div {
  display: flex;
  flex-flow: column wrap;
  /* vertical axis */
  justify-content: flex-start;
  /* horizontal axis */
  align-content: space-between;
  align-items: center;
  padding: 0;
}

input,
button,
textarea {
  border-radius: 0.5em;
}

main {
  margin-bottom: 2em;
}

form {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: auto;
  column-gap: 2%;
  row-gap: 1%;

  justify-items: stretch;
  align-items: stretch;
  margin: 2em 0 4em 0;
  padding-left: 4em;
}

.submit-buttons {
  grid-column: 1 / 4;
  grid-row: 8 / 9;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 3em;
}

.form-submit-button,
.form-reset-button {
  padding: 1em 5em;
  margin: 1em 1em;

  text-transform: full-width;
  color: rgb(168, 201, 205);
}

/* custom linear gradient */
.form-submit-button {
  background: linear-gradient(#22405d, 80%, #435b6ac4);
  border: none;
  box-shadow: rgb(104 103 103 / 25%) 0px -8px 27px 5px,
    rgba(196, 196, 196, 0.3) 0px 8px 8px -8px;

  padding: 2em 1em;
  color: #fff;
  width: 15em;
  letter-spacing: 0.3em;
  font-size: 0.9em;
}

.form-reset-button {
  background: linear-gradient(#22405d, 80%, #435b6ac4);
  border: none;
  /* box-shadow: rgb(50 50 105 / 15%) 0px 2px 5px 0px,
    rgb(0 0 0 / 5%) 0px 1px 1px 0px; */
  box-shadow: rgb(104 103 103 / 25%) 0px -8px 27px 5px,
    rgba(196, 196, 196, 0.3) 0px 8px 8px -8px;

  padding: 2em 1em;
  color: #fff;
  width: 15em;
  letter-spacing: 0.3em;
  font-size: 0.9em;
}

#familia {
  background: transparent;
  color: #a1c9cd70;
  font-weight: lighter;

  border-radius: 0.5em;
  border: 1px solid rgba(217, 217, 217, 0.3);
}

select::selection {
  font-weight: bolder;
  color: #fff;
}

textarea {
  background: transparent;
}

textarea:focus {
  border: 1px solid rgba(217, 217, 217, 0.3);
  outline: 2px solid #a1c9cd88;

  color: #fff;
  font-family: "Maven Pro", sans-serif;
}

#search-field {
  margin-top: 0;
  width: 100%;
}

#search-field-button {
  border: none;
  /* background-color: rgba(51, 59, 76, 0.179); */
  box-shadow: rgb(104 103 103 / 25%) 2px -16px 27px 5px,
    rgba(196, 196, 196, 0.3) 2px 8px 16px -8px;
  background: transparent;

  padding: 1em 1em;
  /* margin: 1em 1em; */
  width: 100%;

  color: #fff;
  text-transform: uppercase;
}

#search-field-button:focus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background: #556273;
}

#search-field-button::after #background,
#fonts,
#border {
  width: 12em;
}

/* [type="range"] {
  fill: #e30000;
  stroke: none;
  max-width: fit-content;
} */

#volume {
  fill: #a1c9cd;
  stroke: none;
  max-width: 100%;
}

#dropdown {
  margin-right: 1em;
  border-radius: 0.5em;
  background: transparent;
  color: #7d999c;
  font-family: "Maven Pro", sans-serif;
}

textarea {
  width: 100%;
  border-color: #a1c9cd;
}

#your-input {
  padding: 0.5em 0 0 0.5em;
}

select {
  width: 100%;
  border: 1px solid rgba(217, 217, 217, 0.3);
  padding: 0.2em 0.2em;
}

select:focus {
  border: 1px solid rgba(217, 217, 217, 0.3);
  outline: 2px solid #a1c9cd88;
}

small {
  font-size: 0.7em;
}

/* custom file upload button */

input[type="file"] {
  opacity: 0.5;
}

.checkboxes,
.radiobuttons {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: auto;
  justify-items: end;
  padding: 1.1em 2em 0 1em;
}

/* customized radio-buttons */
.radio-input {
  display: none;
}

.radio-label {
  width: 15px;
  height: 15px;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.5em;
}

.radio-label::before,
.radio-label::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  display: block;
  transition: all 0.1s;
}

.radio-label::before {
  width: 10px;
  height: 10px;
  background: #fff;
}
.radio-label::after {
  width: 25px;
  height: 25px;
  background: #f7faff4d;
}
/* input + label */
/* .radio-input:checked + .radio-label::after {
  animation: ripple 0.2s;
} */
.radio-input:checked + .radio-label::before {
  transform: scale(1);
}

@keyframes ripple {
  to {
    transform: scale(1);
  }
}

legend {
  text-align: center;
}

/* --- ELEMENTS in grid --- */

.name,
.email,
.email-multiple,
.scroll-multiple,
.password,
.search,
.text-area,
.datepicker,
.timepicker,
.datetime,
.dropdown,
.phonenumber,
.checkbox,
.slider,
.minmax,
.radio,
.color,
.url,
.fileupload {
  background-color: rgba(227, 232, 242, 0.18);
  box-shadow: rgba(104, 103, 103, 0.25) 0px 13px 27px -5px,
    rgba(196, 196, 196, 0.3) 0px 8px 16px -8px;
  margin: 0.2em 0.2em;
  padding: 2em 2em;
  border-radius: 0.5em;
}

.email {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-content: stretch;

  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#email {
  max-width: fit-content;
}

.email-multiple {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.scroll-multiple {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.password {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.search {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.text-area {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.datepicker {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.timepicker {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.datetime {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.dropdown {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.phonenumber {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.checkbox {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.radio {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.color {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

.slider {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

.minmax {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

.url {
  grid-column: 3 / 4;
  grid-row: 6 / 7;
}

.fileupload {
  grid-column: 1 / 4;
  grid-row: 7 / 8;
}

::placeholder {
  font-size: smaller;
  color: #ccdee0e5;
}

input {
  margin: 1em 0 1em 0;
  padding: 0.5em 0.5em;
  width: 90%;

  background: transparent;
  border: 1px solid rgba(217, 217, 217, 0.3);

  color: #fff;
  letter-spacing: 0.1em;
  font-weight: normal;
}

input:focus {
  border: 1px solid rgba(217, 217, 217, 0.3);
  outline: 2px solid #a1c9cd88;
}

h2 {
  margin: 1em 0 2em 0;
  width: 100%;

  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  font-weight: lighter;
  line-height: 1.3em;
}

h2.e-mail,
#date-picker,
#start-time-picker,
#end-time-picker,
#datetime-local-picker,
#volume {
  margin-top: 0;
}

h2.searchfield,
h2.date-picker {
  margin-bottom: 1em;
}

label {
  margin-bottom: 1.5em;
  font-size: 0.9em;
}

label.pass {
  margin: 0.5em 0 1em 0;
}

/* fieldset {
  display: grid;
  grid-template-columns: 2 (repeat, 1fr);
  grid-template-rows: auto;
} */

fieldset div {
  flex-flow: row nowrap;
  align-items: baseline;
}

input[type="checkbox"] {
  margin: 0;
}

label[for="blue"],
label[for="green"],
label[for="yellow"],
label[for="orange"],
label[for="red"],
label[for="violet"],
label[for="brown"],
label[for="black"],
label[for="white"] {
  margin-bottom: 0.7em;
  accent-color: #556273;
}

input#coffee,
input#tea,
input#lemon-water,
input#none {
  margin: 0;
  accent-color: #556273;
}

/* --- FOOTER --- */

footer {
  /* background-color: rgb(112 129 140 / 40%);
  box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px; */

  background-color: rgba(51, 59, 76, 0.179);
  box-shadow: rgb(104 103 103 / 25%) 0px -16px 27px 5px,
    rgba(196, 196, 196, 0.3) 0px 8px 16px -8px;

  /* rgb(104 103 103 / 25%) 0px -13px 27px 5px;
     */

  border-radius: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  grid-column: 1 / 4;
  grid-row: 9 / 10;

  padding: 2em 2em;
  margin: 4em 2em 4em 2em;

  font-weight: lighter;
}

footer > p {
  padding: 1em 0 1em 0;
  font-size: 1.1em;
  font-weight: lighter;
}

a {
  color: rgb(168, 201, 205);
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
  align-self: center;
}

li {
  align-self: center;
  font-size: 0.9em;
}

.logo {
  max-width: 1.7em;
  max-height: 1.7em;
  margin: 1em 1em;
}

/* selectors for password chech styling */
/* input:required:invalid, input:focus:invalid {
    border-color: red; 
    
}
input:required:valid {
    border-color:green;
} */

/* select all divs that are children of fieldset

fieldset div {}

fieldset>div

*/
